.cuadro{
    width:100%;
    height: 100%;
}
.Titulo{
    padding: 40px;
    color: #4748d8;
    text-align:center;
    font-size: 60px;
    font-family: sans-serif;
}

.Texto{
    color: black;
    text-align:center;
    margin:auto;
    width:36%;
    font-size: 25px;
}