.titulo_1{
    color: #4748d8;
    text-align:left;
    font-size: 15px;
    font-family: sans-serif;
}
.titulo_2{
    padding-top: 20px;
    color: #4748d8;
    text-align:left;
    font-size: 30px;
    font-family:serif;
    width: 90%;
}
.texto_1{
    padding-top: 30px;
    color: black;
    text-align:left;
    font-size: 18px;
    font-family:serif;
    width: 90%;
}
.imagen_1{
    background-image: url(../resources/imagen_1.jpg);
    padding-left:100px;
    width: 400px;
    height: 555px;
    background-size: cover;
    background-position: left;
}