.us_titl_texto_3{
    text-align: center;
    color:  #4748d8;
    font-size: 30px;
}
.us_titl_texto_4{
    text-align: center;
    color: black;
    font-size: 30px;
}
.us_titl_1{
    padding-bottom: 400px;
    width: 75%;
    text-align: center;
    padding-left: 140px;
}