.contenedor{
    background-image: url(../resources/imagen_1.jpg);
    width: auto;
    height: 320px;
    background-size: cover;
}
.off_us_img_1{
    background-image: url(../resources/imagen_1.jpg);
}
.off_us_img_2{
    background-image: url(../resources/imagen_2.png);
}
.off_us_img_3{
    background-image: url(../resources/imagen_1.jpg);
    height: 600px;
    width: 100%;
}
.us_textos{
    color: white;
    width: 95%;
    text-align:left;
    padding-left: 20px;
    padding-top: 20px;
}

.us_texto_1{
    background-color: black;
    background: linear-gradient( rgba(5,7,12,0.6),rgba(5,7,12,0.6));
    font-size: 20px;
    padding-left: 10px;
}
.us_texto_2{
    background-color: black;
    background: linear-gradient( rgba(5,7,12,0.6),rgba(5,7,12,0.6));
    font-size: 40px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Times New Roman';

}
.us_fondo{
    background-size: 20%;
    height: 50px;
    width: 250px;
    margin-left: 20%;
    margin-top: 20px;
}